<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="cn.itcast.ssm.dao" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/springmvc-mybatis/src/main/java" />
        <option name="javaModelPackage" value="cn.itcast.ssm.po" />
        <option name="javaModelPath" value="$PROJECT_DIR$/springmvc-mybatis/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="springmvc-mybatis" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="springmvc-mybatis">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="cn.itcast.ssm.dao" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/springmvc-mybatis/src/main/java" />
                  <option name="javaModelPacakge" value="cn.itcast.ssm.po" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/springmvc-mybatis/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/springmvc-mybatis/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/springmvc-mybatis/src/main/java" />
                  <option name="xmlPackage" value="mappers" />
                  <option name="xmlPath" value="$PROJECT_DIR$/springmvc-mybatis/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="springmvc_itcast:items">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Items" />
                  <option name="moduleName" value="springmvc-mybatis" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="springmvc_itcast:orderdetail">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Orderdetail" />
                  <option name="moduleName" value="springmvc-mybatis" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="springmvc_itcast:orders">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Orders" />
                  <option name="moduleName" value="springmvc-mybatis" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="springmvc_itcast:user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="springmvc-mybatis" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="mappers" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/springmvc-mybatis/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>